<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string><![CDATA[https://cos.appmeta.cn/f269e244f9141f1563ad3aef76b0241c06c3d79a?sign=e2d8e18f2d0e6d6a742c570c9d069c0b&t=1666663193]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <integer>0</integer>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-icon.firim.ink/39461c91a7ba676aae4af1ec64b76055ef3f4eeb?auth_key=1666663493-0-0-33bd95ba91c3ac5abb99697412790acc]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-icon.firim.ink/39461c91a7ba676aae4af1ec64b76055ef3f4eeb?auth_key=1666663493-0-0-33bd95ba91c3ac5abb99697412790acc]]></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.msxf.newzy.internal.dev</string>
        <key>bundle-version</key>
        <string><![CDATA[1.2.19]]></string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string><![CDATA[优逸花]]></string>
      </dict>
    </dict>
  </array>
</dict></plist>
