	<!DOCTYPE html>
	<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv="Cache" content="no-cache">
		<title>乐师•测试 APP下载</title>
	</head>
	<body>

	<center>
		<br><br><br>
		<h1>乐师•测试</h1><br>
		<h2>>>> <a href="itms-services://?action=download-manifest&url=https://lboc-static.dfub.cn/app/ios/lboc/config/LBOC_Teacher_Adhoc.plist">点击下载</a> <<<</h2>
		<h6>版本：1.0.0.8</h6>
		<h6>文件大小：63M</h6>
		<h6>更新时间：2019-11-08 13:50:38</h6>
		<br><br><br>
	</center>

	</body>
	</html>
